<app-page-title [title]="'Quartos Disponíveis'"></app-page-title>
<mat-card class="m-1 d-flex justify-content-between" *ngIf="quartos?.length">
    <button mat-fab color="primary" (click)="paginate('prev')" [disabled]="pager.page === 0">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <app-quarto-card *ngFor="let quarto of quartos" [quarto]="quarto" (onLocate)="onLocate($event)"></app-quarto-card>
    <button mat-fab color="primary" (click)="paginate('next')" [disabled]="pager.page === pager.total -1">
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
</mat-card>