<div *ngIf="type === 'search'">
    <h1 mat-dialog-title>Selecione o Hóspede</h1>
    <div mat-dialog-content>
        <div>
            <form [formGroup]="form" class="example-form">
                <div class="form-row d-flex">
                    <div class="col-md-12 col-sm-12">
                        <app-input [field]="'nome'" [label]="'Nome'" [form]="form" [placeholder]="'Nome'"></app-input>
                    </div>
                </div>
                <div class="form-row d-flex">
                    <div class="col-md-6 col-sm-12">
                        <app-input [field]="'cpf'" [label]="'CPF'" [form]="form" [placeholder]="'CPF'"></app-input>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <app-input [field]="'telefone'" [label]="'Telefone'" [form]="form" [placeholder]="'Telefone'"></app-input>
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-md-2">
                        <button class="actions" mat-raised-button color="primary" (click)="onSubmit(table)">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <app-table class="mt-2" #table [type]="'select'" [service]="service" [displayedColumns]="displayedColumns"
            (eventRow)="onClickRow($event)">
        </app-table>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    </div>
</div>
<div *ngIf="type === 'confirm'">
    <h1 mat-dialog-title>Confirmar</h1>
    <div mat-dialog-content>Desaja incluir garagem ?</div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Não</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Sim</button>
    </div>
</div>